* {
  margin: 0;
  font-family: "Edu TAS Beginner", sans-serif;
  font-size: 1.25rem;
  color: rgba(51, 81, 47, 1);
  font-weight: bold;
}
body {
  background: rgba(161, 138, 107, 0.6);
}

.toDolistContianer {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}
.innerContainer {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: rgba(210, 252, 0, 1);
}
.headerTitle {
  margin: 1rem;
  color: rgba(210, 252, 0, 1);
}
input,
input::placeholder,
button {
  background-color: rgba(2, 12, 145, 0.9);
  color: rgba(210, 252, 0, 0.8);
}
.headerTitle input {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1.85rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.addToList {
  margin: 0 1rem;
}
.addToList div {
  width: 100%;
  display: flex;
}
.addToList div button {
  height: 100%;
  border-radius: 0.2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.addToList div button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.addToList div input {
  width: 100%;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#listBox {
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
}

#toDoListBox {
  margin: 1rem;
}

#toDoListBox h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}
#toDoListBox #boxLine {
  display: none;
  margin: 1rem;
  border-bottom: 10px;
}
#doneListBox {
  display: none;
  margin: 1rem;
}

li {
  list-style: none;
  text-align: left;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}
li .newItemContent {
  display: inline-flex;
  word-break: break-all;
  justify-content: start;
}

li button {
  height: 1.5em;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  margin-left: 0.4rem;
}
li button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
li input {
  margin-left: 1rem;
}

#doneListBox h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}

#doneList li .newItemContent {
  text-decoration: line-through;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  cursor: pointer;
  margin: 0;
}
.saySomething {
  position: fixed;
  color: rgba(210, 252, 0, 1);
  font-size: 8vw;
  bottom: 2rem;
  right: 2rem;
  z-index: -1;
  text-shadow: 3px 3px rgba(2, 12, 145, 0.9), -3px -3px rgba(2, 12, 145, 0.9);
}
